{% extends 'blog/base.html' %}

{% block title %}
My Blog Site | Students
{% endblock title %}


{% block content %}

<h1 class="page-heading"><i>S</i>tuden<i>ts</i> L<i>is</i>t</h1>

<a class="btn-primary" href="{% url 'student_create' %}">Add Student</a>

<ul>

 {% for student in students %}

 <li class="list-item">

  {% if student.profile_pic %}
  <img class="profile-img" src="{{ student.profile_pic.url }}" alt="{{ student.name }} 🖼️">
  {% endif %}

  <div class="ul-header">
   <div class="ul-heading">
    <b> {{ student.name }} </b> <i> ({{ student.email }}) </i>
   </div>
   <div class="ul-btns">
   </div>
  </div>

  <p> {{ student.bio }} </p>

 </li>
 {% endfor %}

</ul>

{% endblock content %}