{% extends 'blog/base.html' %}

{% block title %}
My Blog Site | Students
{% endblock title %}


{% block content %}

<h1>
 <i>S</i>tuden<i>ts</i> L<i>is</i>t
</h1>

<a href="{% url 'student_create' %}">Add Student</a>

<ul class="students-list">

 {% for student in students %}
 <li>

  {% if student.profile_pic %}
  <img src="{{ student.profile_pic.url }}" alt="{{ student.name }} 🖼️"
   style="width:50px;height:50px;border-radius:50%;">
  {% endif %}

  <div class="data-container">

   <b>
    {{ student.name }}
   </b>
   ( {{ student.email }} ) <br>

   <small>
    {{ student.bio }}
   </small>

  </div>

 </li>
 {% endfor %}

</ul>

{% endblock content %}