{% extends 'blog/base.html' %}


{% block title %}

My Blog Site | Delete

{% endblock title %}



{% block content %}

<h1 class="page-heading">Del<i>ete</i> P<i>ost</i></h1>

<form method="POST">
 {% csrf_token %}
 <p class="item-details">Post Title: <b>{{ post.title }}</b></p>
 <p class="confirmation">Are you sure you want to delete this post?</p>
 <button class="btn-primary btn-delete" type="submit">Confirm Delete</button>
</form>

<a class="btn-primary" href="{% url 'home' %}">Cancel</a>

{% endblock content %}