{% extends 'blog/base.html' %}


{% block title %}

My Blog Site | Posts

{% endblock title %}



{% block content %}

<h1>P<i>o</i>st<i>s</i></h1>
<ul class="posts-list">

 <a href=" {% url 'create_post' %} ">Make new <i>post</i></a>

 {% for post in posts %}
 <li>
  <b> {{post.title}} </b> - <i> {{post.created_at}} </i>
  <p> {{post.content}} </p>
  <a href="{% url 'edit_post' post.pk %}">Edit</a> |
  <a href="{% url 'delete_post' post.pk %}">Delete</a>
 </li>
 {% endfor %}

</ul>

{% endblock content %}